@media (max-width:640px) {
    .card {
        display: flex;
        flex-direction: column;
        /* height: 100%; */
    }
    body {
        margin: 10px;
    }
}
@media (min-width:641px) {
    body {
        margin: 10px;
    }
    .card p {
        font-size: 0.9rem;
        margin-right: 3rem;
        padding-left: 3rem;
    }
    .card button {
        margin-left: 2rem;
    }
}